<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Products</div>
                    <div class="card-body">
                        <ul>
                            <li v-for="(product, key) in products" :key="key">
                                <a href="#" @click.prevent="showProduct(key)">{{ product }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6" v-if="product !== ''">
                <div class="card">
                    <div class="card-header">{{ product.name }}</div>
                    <div class="card-body">
                        <span class="badge badge-primary p-2 mb-2 mt-1 ml-4 float-right">{{ product.type }}</span>
                        <p>{{ product.description }}</p>

                        <ul>
                            <li v-for="supply in product.suppliers" :key="supply">
                                {{ supply }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["route_index","route_show"],
        data() {
            return {
                products: {},
                product: '',
            };
        },
        mounted() {
            console.log(this.product)
            this.getProducts()
        },
        computed: {
        },
        methods: {
             getProducts(){
                axios.get(this.route_index,
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then((response) => {
                    this.products = response.data;
                })
                .catch(function(){
                    console.error('Failure to Submit the file to the server!');
                });

            },
            showProduct(key){
                axios.get(this.route_show+'/'+key,
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then((response) => {
                    this.product = response.data;
                })
                .catch(function(){
                    console.error('Failure to Submit the file to the server!');
                });
            }
        },
    }
</script>
